/*
* app.css
* Nate Beatty
*/
body {
  background: #eee; }

#content {
  padding: 20px;
  width: 350px;
  height: 300px;
  margin: 20px auto;
  border: 1px solid #333; }

form {
  text-align: center; }
